node_modules
dist
out
resources/ffmpeg/
.DS_Store
.eslintcache
*.log*
.claude/

*.node.tsbuildinfo
*.web.tsbuildinfo

*.db
*.db-wal
*.db-shm

*.tsbuildinfo

logs

docs/.DS_Store

doc/*

patch/*

tpack/*
